/* General Styles */
body {
    margin: 0;
    padding-bottom: 60px;  /* Adjust this value as needed */
    font-family: Arial, sans-serif;
}

header {
    background-color: #FFD700;  /* Yellow background */
    color: black;  /* Black text to contrast with yellow */
    padding: 20px;
    text-align: center;
}

nav a {
    color: black;  /* Black text for links */
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #dddddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ead97a;  /* Yellow background */
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    color: black;  /* Black text */
}

/* Responsive Design */

/* Styles for tablets */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    
    table {
        font-size: 14px;
        margin: 0 10px;
    }
    
    header {
        padding: 15px;
    }

    nav a {
        margin: 0 5px;
    }

    main {
        padding: 15px;
    }
}

/* Styles for phones */
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
    
    table {
        font-size: 12px;
        margin: 0 5px;
        overflow-x: auto;
        display: block;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch; /* For smooth scrolling on mobile */
    }

    th, td {
        padding: 5px;
    }

    header {
        padding: 10px;
        font-size: 18px;
    }

    nav a {
        margin: 0 3px;
        font-size: 12px;
    }

    main {
        padding: 10px;
    }

    /* Hide less important columns to save space */
    .hide-on-mobile {
        display: none;
    }
}
